@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Role</h2>
<div class="btn btn-default">
    @Html.ActionLink("List Roles", "Index")
</div>
<div class="btn btn-default">
    @Html.ActionLink("Manage User Role", "ManageUserRoles")
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </p>
    <input class="btn btn-default" type="submit" value="Save" />
}