@model digioz.Portal.Domain.DomainModel.MailingList

@{
    ViewBag.Title = "Mailing List Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Mailing List Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultEmailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultEmailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultFromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultFromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
