<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @HttpContext.Current.Session["SiteName"]</title>
    @if (IsSectionDefined("keywords")) { @RenderSection("keywords") }
    @if (IsSectionDefined("description")) { @RenderSection("description") }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Head", required: false)
</head>
<body>
    <!-- Powered by DigiOz .NET Portal -->
    <!-- For more information visit http://www.digioz.com -->
    <div class="container">
        <div style="padding-left:20px;">
            <a href="/"><img src="~/Content/images/Logo_Small.png" alt="DigiOz Portal" /></a>
            <h1 style="position:absolute; top:20px;">&nbsp;</h1><br /><br />
        </div>
    </div>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{Html.RenderAction("TopMenu", "Menu");}
                </ul>
                <form class="navbar-form navbar-right" role="search" style="text-align: right;" action="/SearchPages">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="searchString">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container theme-showcase" style="padding: 0px;">

        @{ Html.RenderAction("ZoneMenu", "Menu", new { zoneType = "Top" });}

        <div class="col-sm-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menu</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        @{Html.RenderAction("LeftMenu", "Menu");}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                </div>
                <div class="panel-body">
                    @if (User.Identity.IsAuthenticated == true)
                    {
					<ul>
						<li>
							@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
							{
								@Html.AntiForgeryToken()
								<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
							}
						</li>
						<li>@Html.ActionLink("My Profile", "Index", "Profile", new { area = "" }, null)</li>
						<li>@Html.ActionLink("My Pictures", "Pictures", "Profile", new { area = "" }, null)</li>
						<li>@Html.ActionLink("Private Messages", "Index", "PrivateMessages", new { area = "" }, null)</li>
						<li>@Html.ActionLink("Change Password", "Manage", "Account", new { area = "" }, null)</li>

						@if (HttpContext.Current.User.IsInRole("Administrator"))
						{
							<li>@Html.ActionLink("Admin Dashboard", "Index", "Dashboard", new { area = "Admin" }, null)</li>
						}
					</ul>
                        <p style="padding-left: 30px;">Logged in as @Html.ActionLink(@User.Identity.Name, "Index", "Profile", new { area = "" }, null).</p>
                    }
                    else
                    {
                        if (ViewContext.RouteData.Values["controller"].ToString() != "Account")
                        {
                            Html.RenderAction("LoginPartial", "Account");
                        }
                        else
                        {
                            <ul>
                                <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Forgot Password", "ForgotPassword", "Account", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, null)</li>
                            </ul>
                        }
                    }
                </div>
            </div>

            @{Html.RenderAction("WhoIsOnlineMenu", "Menu");}

            @{Html.RenderAction("StoreMenu", "Menu");}

            @{Html.RenderAction("PollMenu", "Menu");}

            @{ Html.RenderAction("TwitterMenu", "Menu");}

            @{ Html.RenderAction("ZoneMenu", "Menu", new { zoneType = "Left" });}

        </div>
        <div class="col-sm-9">
            @{ Html.RenderAction("ZoneMenu", "Menu", new { zoneType = "BodyTop" });}

            @RenderSection("featured", required: false)

            @RenderSection("RSSFeed", required: false)

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewBag.Title</h3>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>

            @{ Html.RenderAction("ZoneMenu", "Menu", new { zoneType = "BodyBottom" });}
        </div>

    </div> <!-- /container -->

    @{ Html.RenderAction("ZoneMenu", "Menu", new { zoneType = "Bottom" });}

    <div class="row" style="background:#808080;width:100%;margin:0px;">
        <div style="padding-top:10px;text-align:center;">
            <p><a href="/Home/Index" style="color:#FFFFFF;padding-top:20px;">&copy; @DateTime.Now.Year @HttpContext.Current.Session["SiteName"]</a></p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
