@model IEnumerable<digioz.Portal.Domain.DomainModel.SlideShow>
@using digioz.Portal.Web.Extensions
@{
    ViewBag.Title = "Slide Show Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <div class="btn btn-default">@Html.ActionLink("Create New", "Create")</div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Content/Slides/Full/@Html.DisplayFor(modelItem => item.Image)" target="_blank"><img src="/Content/Slides/Thumb/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Image)" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.Raw(
                Html.ActionImage("Details", new { id = item.Id }, "~/Content/images/icons/16x16/Search.png", imageAttributes: new { alt = "Details", @class = "icon" },
                linkAttributes: new { title = "Details" }).ToString() + " " +
                Html.ActionImage("Edit", new { id = item.Id }, "~/Content/images/icons/16x16/Edit.png", imageAttributes: new { alt = "Edit", @class = "icon" },
                linkAttributes: new { title = "Edit" }).ToString() + " " +
                Html.ActionImage("Delete", new { id = item.Id }, "~/Content/images/icons/16x16/Cancel.png", imageAttributes: new { alt = "Delete", @class = "icon" },
                linkAttributes: new { title = "Delete" }).ToString()
            )
        </td>
    </tr>
}

</table>
